@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

/* Infinite scroll animation for skills */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* Pause utility */
.hover\:pause:hover {
  animation-play-state: paused;
}